In [29]:
import os
import pandas as pd
import numpy as np

In [2]:
#https://raw.githubusercontent.com/vikrambj2019/basic/master/Data/auto-mpg.csv
path = 'https://raw.githubusercontent.com/vikrambj2019/basic/master/Data/'
filename_read=os.path.join(path,'auto-mpg.csv')
df=pd.read_csv(filename_read,na_values=['NA','?'])

In [3]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [4]:
df.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
393,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

In [6]:
df['mpg'].head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

In [8]:
df.iloc[10]

mpg                              15
cylinders                         8
displacement                    383
horsepower                      170
weight                         3563
acceleration                     10
year                             70
origin                            1
name            dodge challenger se
Name: 10, dtype: object

In [12]:
#this allows you to save a dataframe as an Excel file to your computer!!!
df.to_excel('test.xlsx')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      392 non-null float64
weight          398 non-null int64
acceleration    398 non-null float64
year            398 non-null int64
origin          398 non-null int64
name            398 non-null object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.1+ KB

In [18]:
#df.apply(pd.Series.value_counts)

In [21]:
pd.isnull(df)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
368,False,False,False,False,False,False,False,False,False
369,False,False,False,False,False,False,False,False,False
370,False,False,False,False,False,False,False,False,False
371,False,False,False,False,False,False,False,False,False
372,False,False,False,False,False,False,False,False,False
373,False,False,False,False,False,False,False,False,False
374,False,False,False,True,False,False,False,False,False
375,False,False,False,False,False,False,False,False,False
376,False,False,False,False,False,False,False,False,False
377,False,False,False,False,False,False,False,False,False
378,False,False,False,False,False,False,False,False,False
379,False,False,False,False,False,False,False,False,False
380,False,False,False,False,False,False,False,False,False
381,False,False,False,False,False,False,False,False,False
382,False,False,False,False,False,False,False,False,False
383,False,False,False,False,False,False,False,False,False
384,False,False,False,False,False,False,False,False,False
385,False,False,False,False,False,False,False,False,False
386,False,False,False,False,False,False,False,False,False
387,False,False,False,False,False,False,False,False,False
388,False,False,False,False,False,False,False,False,False
389,False,False,False,False,False,False,False,False,False
390,False,False,False,False,False,False,False,False,False
391,False,False,False,False,False,False,False,False,False
392,False,False,False,False,False,False,False,False,False
393,False,False,False,False,False,False,False,False,False
394,False,False,False,False,False,False,False,False,False
395,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False

In [23]:
df.replace([1,3],['one','three'])

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,one,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,one,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,one,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,one,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,one,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,one,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,one,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,one,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,one,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,one,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,one,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,one,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,one,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086,10.0,70,one,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372,15.0,70,three,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,one,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,one,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,one,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,three,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.0,2672,17.5,70,2,peugeot 504
21,24.0,4,107.0,90.0,2430,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95.0,2375,17.5,70,2,saab 99e
23,26.0,4,121.0,113.0,2234,12.5,70,2,bmw 2002
24,21.0,6,199.0,90.0,2648,15.0,70,one,amc gremlin
25,10.0,8,360.0,215.0,4615,14.0,70,one,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,one,chevy c20
27,11.0,8,318.0,210.0,4382,13.5,70,one,dodge d200
28,9.0,8,304.0,193.0,4732,18.5,70,one,hi 1200d
29,27.0,4,97.0,88.0,2130,14.5,71,three,datsun pl510
...,...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88.0,2640,18.6,82,one,chevrolet cavalier wagon
369,34.0,4,112.0,88.0,2395,18.0,82,one,chevrolet cavalier 2-door
370,31.0,4,112.0,85.0,2575,16.2,82,one,pontiac j2000 se hatchback
371,29.0,4,135.0,84.0,2525,16.0,82,one,dodge aries se
372,27.0,4,151.0,90.0,2735,18.0,82,one,pontiac phoenix
373,24.0,4,140.0,92.0,2865,16.4,82,one,ford fairmont futura
374,23.0,4,151.0,NaN,3035,20.5,82,one,amc concord dl
375,36.0,4,105.0,74.0,1980,15.3,82,2,volkswagen rabbit l
376,37.0,4,91.0,68.0,2025,18.2,82,three,mazda glc custom l
377,31.0,4,91.0,68.0,1970,17.6,82,three,mazda glc custom
378,38.0,4,105.0,63.0,2125,14.7,82,one,plymouth horizon miser
379,36.0,4,98.0,70.0,2125,17.3,82,one,mercury lynx l
380,36.0,4,120.0,88.0,2160,14.5,82,three,nissan stanza xe
381,36.0,4,107.0,75.0,2205,14.5,82,three,honda accord
382,34.0,4,108.0,70.0,2245,16.9,82,three,toyota corolla
383,38.0,4,91.0,67.0,1965,15.0,82,three,honda civic
384,32.0,4,91.0,67.0,1965,15.7,82,three,honda civic (auto)
385,38.0,4,91.0,67.0,1995,16.2,82,three,datsun 310 gx
386,25.0,6,181.0,110.0,2945,16.4,82,one,buick century limited
387,38.0,6,262.0,85.0,3015,17.0,82,one,oldsmobile cutlass ciera (diesel)
388,26.0,4,156.0,92.0,2585,14.5,82,one,chrysler lebaron medallion
389,22.0,6,232.0,112.0,2835,14.7,82,one,ford granada l
390,32.0,4,144.0,96.0,2665,13.9,82,three,toyota celica gt
391,36.0,4,135.0,84.0,2370,13.0,82,one,dodge charger 2.2
392,27.0,4,151.0,90.0,2950,17.3,82,one,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,one,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,one,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,one,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,one,chevy s-10

In [26]:
df['cylinders'].unique()

array([8, 4, 6, 3, 5], dtype=int64)

In [27]:
df.groupby('cylinders')['mpg'].mean()

cylinders
3    20.550000
4    29.286765
5    27.366667
6    19.985714
8    14.963107
Name: mpg, dtype: float64

In [28]:
df.groupby('year')['weight'].mean()

year
70    3372.793103
71    2995.428571
72    3237.714286
73    3419.025000
74    2877.925926
75    3176.800000
76    3078.735294
77    2997.357143
78    2861.805556
79    3055.344828
80    2436.655172
81    2522.931034
82    2453.548387
Name: weight, dtype: float64

In [30]:
df.groupby('cylinders').agg(np.mean)

,mpg,displacement,horsepower,weight,acceleration,year,origin
cylinders,,,,,,,
3,20.550000,72.500000,99.250000,2398.500000,13.250000,75.500000,3.000000
4,29.286765,109.796569,78.281407,2308.127451,16.601471,77.073529,1.985294
5,27.366667,145.000000,82.333333,3103.333333,18.633333,79.000000,2.000000
6,19.985714,218.142857,101.506024,3198.226190,16.263095,75.928571,1.190476
8,14.963107,345.009709,158.300971,4114.718447,12.955340,73.902913,1.000000

In [33]:
df.groupby('cylinders').agg(np.max)

,mpg,displacement,horsepower,weight,acceleration,year,origin,name
cylinders,,,,,,,,
3,23.7,80.0,110.0,2720,13.5,80,3,mazda rx2 coupe
4,46.6,156.0,115.0,3270,24.8,82,3,vw rabbit custom
5,36.4,183.0,103.0,3530,20.1,80,2,mercedes benz 300d
6,38.0,262.0,165.0,3907,21.0,82,3,volvo diesel
8,26.6,455.0,230.0,5140,22.2,81,1,pontiac safari (sw)

In [37]:
df.apply(np.max)

mpg                         46.6
cylinders                      8
displacement                 455
horsepower                   230
weight                      5140
acceleration                24.8
year                          82
origin                         3
name            vw rabbit custom
dtype: object

In [38]:
df.corr()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684,-0.370164,-0.609409
horsepower,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361,-0.455171
weight,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000,0.288137,0.205873
year,0.579267,-0.348746,-0.370164,-0.416361,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.455171,-0.581024,0.205873,0.180662,1.000000

In [39]:
df.mean()

mpg               23.514573
cylinders          5.454774
displacement     193.425879
horsepower       104.469388
weight          2970.424623
acceleration      15.568090
year              76.010050
origin             1.572864
dtype: float64

In [40]:
df.std()

mpg               7.815984
cylinders         1.701004
displacement    104.269838
horsepower       38.491160
weight          846.841774
acceleration      2.757689
year              3.697627
origin            0.802055
dtype: float64

In [41]:
df.count()

mpg             398
cylinders       398
displacement    398
horsepower      392
weight          398
acceleration    398
year            398
origin          398
name            398
dtype: int64

In [43]:
df1 = df.append(df)

In [44]:
df1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [45]:
df1.count()

mpg             796
cylinders       796
displacement    796
horsepower      784
weight          796
acceleration    796
year            796
origin          796
name            796
dtype: int64

In [48]:
df.count()

mpg             398
cylinders       398
displacement    398
horsepower      392
weight          398
acceleration    398
year            398
origin          398
name            398
dtype: int64

In [51]:
df.groupby(['cylinders','origin'])['horsepower'].transform('mean').unique()

array([158.30097087,  75.57971014,  99.67123288,  78.31147541,
        80.95652174,  99.25      , 115.83333333, 113.5       ,
        82.33333333])

In [52]:
df['horsepower']=df['horsepower'].fillna(df.groupby(['cylinders','origin'])['horsepower'].transform('mean'))

In [53]:
df.count()

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
year            398
origin          398
name            398
dtype: int64

In [54]:
df2 = pd.DataFrame(df.groupby(['cylinders'])['horsepower'].aggregate('mean'))

In [59]:
df2.head()

columns_needs = ['mpg','cylinders']

In [60]:
result=pd.merge(df[columns_needs],df2,how='left',left_on=['cylinders'],right_on=['cylinders'])

In [61]:
result.head()

    mpg  cylinders  horsepower
0  18.0          8  158.300971
1  15.0          8  158.300971
2  18.0          8  158.300971
3  16.0          8  158.300971
4  17.0          8  158.300971